/* Bottom footer */

.bottom-footer {
  background-color: $basic-grey;
}

.bottom-footer__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.bottom-footer__logo {
  &:hover {
    @include opacity-set(0.8);
  }

  &:active {
    @include opacity-set(0.6);
  }
}
