/* Button */

.button {
  @include link-reset($white);
  @include oswald-uppercase(16px, 20px, 400);
  background-color: $basic-green;

  &:focus {
    background-color: $basic-green-2;
    outline: none;
  }

  &:hover {
    background-color: $basic-green-2;
  }

  &:active {
    color: rgba($white, 0.3);
  }

  &--submit {
    border: none;
    cursor: pointer;
  }

  &--suggest {
    font-size: 14px;
    line-height: 18px;
    padding: 14px 26px;

    @media (min-width: $tablet-width) {
      width: 244px;
    }

    @media (min-width: $desktop-width) {
      grid-column-start: 1;
      grid-column-end: 2;
    }
  }
}

.button--show-all {
  background-color: $basic-grey;
  color: $dark-grey;

  &:focus {
    background-color: $darken-grey;
  }

  &:hover {
    background-color: $darken-grey;
  }

  &:active {
    color: rgba($dark-grey, 0.3);
  }
}
