/* Extra catalog */

.extra-catalog {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 895px 245px;
    column-gap: 80px;
  }
}

.extra-catalog__title {
  @include oswald(24px, 24px, 400);
  grid-column: 1/-1;

  @media (min-width: $tablet-width) {
    @include oswald(36px, 36px, 400);
  }
}
