/* Extra catalog */

.extra-catalog {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 895px 245px;
    column-gap: 80px;
  }
}

.extra-catalog__title {
  grid-column: 1/-1;
}
