.inner-sides {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.innder-sides__item {
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.inner-sides__inner-range {
  display: none;
}
