.page-body {
  font-family: "Oswald", sans-serif;

}

.button {
  color: $white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  background-color: $basic-green;
}
