/* Page header */

.page-header {
  overflow: hidden;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-rows: 76px 1fr;
  }
}

.page-header__wrapper {

  display: grid;
  grid-template-columns: 40px auto 40px;
  grid-template-rows: 65px 1fr;
  padding-top: 12px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 180px auto;
    grid-template-rows: 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 610px auto;
    z-index: 1;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
  }
}

.page-header__logo {
  text-decoration: none;
  align-self: center;
  width: 33px;
  height: 37px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    margin-left: 0;
  }

  &:hover {
    @include opacity-set(0.6);
  }

  &:active {
    @include opacity-set(0.3);
  }

  &--middle {
    width: 101px;
    height: 18px;
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.page-header__toggle {
  display: block;
  width: 24px;
  height: 16px;
  cursor: pointer;
  border: none;
  align-self: center;
  position: relative;
  background-color: $white;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.page-header .container:nth-of-type(2) {
  @media (max-width: $mobile-width-only) {
    width: 100%;
    padding: 0;
  }
}
