.partnership__wrapper {
  padding: 0 20px;
}

.partnership__title {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.partnership__adress {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
}
