.preview {
  background-image: url("../../img/preview-images/cat-bg.png");
  background-repeat: no-repeat;
}

.preview__title {
  @include oswald(36px, 36px, 400);
  color: $white;
}

.preview__subtitle {
  @include oswald-uppercase(14px, 14px, 400);
  color: $white;
}
