/* Promo */

.promo {
  background-image: url("../img/promo-img/gift-photo-mobile.png");
  background-repeat: no-repeat;
  height: 289px;
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.promo__title {
  @include arial(16px, 20px, 400);
  color: $white;
}
