/* Slider */

.slider {
  position: relative;

  @media (min-width: $tablet-width) {
    background-color: $basic-grey-bg;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  @media (min-width: $desktop-width) {
    grid-row: 1 / -1;
    grid-column: 2 / -1;
    padding-bottom: 60px;
  }
}

.slider__control {
  display: flex;
  justify-content: center;
}
