/* Slider */

.slider {
  @media (min-width: $tablet-width) {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  @media (min-width: $desktop-width) {
    grid-column-start: 2;
    grid-column-end: -1;
    grid-row-start: 2;
    grid-row-end: 5;
  }
}

.slider__title {
  @include oswald-uppercase(16px, 20px, 400);

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.slider__control {
  display: flex;
  text-align: center;
}

.slider__images {
  text-align: center;
}
