/* Stats list */

.stats-list__number {
  @include oswald-uppercase(24px, 24px, 400);
  border: 1px solid $light-grey-extra-border;
  padding: 14px 42px 17px 42px;
  border-radius: 3px;
  box-sizing: border-box;
  white-space: pre;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
    padding: 15px 57px 20px 57px;
  }
}

.stats-list__description {
  @include arial(12px, 12px, 400);
  text-transform: lowercase;
  margin-left: 0;
  width: 87px;
  position: absolute;
  background-color: $basic-grey-bg;
  bottom: -15px;
  left: 18px;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
    width: 114px;
    white-space: pre;
    bottom: -5px;
    left: 24px;
    background-color: $white;

    & br {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    background-color: $basic-grey;
    top: 65px;
  }
}

.stats-list__item {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-top: 27px;
  }

  &:not(:last-child) {
    margin-right: 31px;

    @media (min-width: $tablet-width) {
      margin-right: 40px;
    }
  }

  &:last-child .stats-list__number {
    padding: 14px 20px 17px 21px;

    @media (min-width: $tablet-width) {
      padding: 15px 30px 20px 30px;
    }
  }

  &:last-child .stats-list__description {
    @media (min-width: $tablet-width) {
      left: 10px;
      width: 142px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
  }
}
