.stats-list__number {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.stats-list__description {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  text-transform: lowercase;
}
