/* Stats list */

.stats-list__number {
  @include oswald-uppercase(24px, 24px, 400);

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.stats-list__description {
  @include arial(12px, 12px, 400);
  text-transform: lowercase;
  margin-left: 0;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
  }
}

.stats-list__item {
  display: flex;
  flex-direction: column;
  text-align: center;

  &:not(:last-child) {
    margin-right: 32px;
  }
}
