/* Suggestion card */

.suggestion-card {
  background-color: $basic-grey;
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    width: 570px;
  }
}

.suggestion-card__title {
  @include oswald(24px, 37px, 400);
  text-transform: uppercase;
}

.suggestion-card__subtitle {
  @include arial(14px, 18px, 400);
}

.suggestion-card__link {
  @include link-reset($black);
  @include oswald-uppercase(16px, 16px, 400);

  &:active {
    @include opacity-set(0.3);
  }
}

.suggestion-card__image {
  @media (min-width: $tablet-width) {
    order: 2;
  }

  @media (min-width: $desktop-width) {
    order: 0;
  }
}
