// Colors

$white: #ffffff;
$black: #000000;
$basic-green: #68b738;
$basic-grey: #f2f2f2;
$basic-grey-bg: #eaeaea;
$basic-green-2: #5eaa2f;
$dark-grey: #444444;
$light-grey: #e7e7e7;
$dark-grey-black: #222222;
$darken-grey: #ebebeb;
$light-grey-border: #e6e6e6;
$light-grey-border2: #d9d9d9;
$light-grey-extra-border: #cdcdcd;
$darken-grey-hover: #bababa;
$grey-range: #dcdcdc;
$basic-grey-svg: #666666;
$red-error: #ff8282;

// Viewports

$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
